<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="CentralEventHubAddress" value="ws://central-event-hub--stage-769488792.us-west-2.elb.amazonaws.com:7100/connect/messenger" />
    <add key="RoomID" value="ITB-1106B" />
    <add key="ExchangeWebServiceURL" value="https://mail.byu.edu/EWS/Exchange.asmx" />
    <add key="ExchangeRoomID" value="itb_1106@byu.edu"/>
    
  </appSettings>
</configuration>